body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 20px;
    background-color: light beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column

}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}

h1 {
    color: #5c4326;
    text-align: center;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #b5a184;;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f3e8d5;
    transition: background-color 0.3s ease-in-out;
}

.item:hover {
    background-color: #dccbb2;
}

p {
    margin: 0;
    color: #7f6b52;
}

span {
    color: #777;
}

