body {
    background-color: aliceblue;
}

h1{
margin-left: 60px;
}

.container {
    
    border-radius: 15px;
    margin: 100px;
    background-color: white;
    height: auto;
    padding-bottom: 40px
}



.search-box {
   
    display: flex;
    align-items: center; 
    position: relative;
}

#search-icon {
    position: absolute;
    left: px;
    margin-left: 45
}

.search-input {
    padding: 15px;
    margin-left: 50px;

}

header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
}

nav { 
    margin: 0 0 0 300px;
    

}

.btn {
    padding: 15px;
    border-color: white;
    background-color: white;
    border-radius: 5px;
}

.btn, #btn2 {
    padding: 15px;
    margin: 0 5px; /* Space out buttons */
    background-color: white;
    border: none; /* Updated to remove border */
    cursor: pointer; /* Hand cursor on hover */
}

.btn:hover, #btn2:hover {
    background-color: #8aacdf; 
}
.person-img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover;
    display: block;
}

.card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    gap: 10px;

}

.card {
    margin-left: 70px;
    padding: 40px;
    width: 200px;
    display: flex;
    background-color: #f9f9f9;
    align-items: flex-start;
    flex:1;
    
}

#container1{
    
    display: flex;
    margin: 40px;
    height: 180px;
}

#container2{
    
    display: flex;
    margin: 10px;
    height: 180px;
}

.card-info, .card-buttons {
    margin-left: 10px;
}

.small-btn {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    color: rgb(156, 156, 230);
}
.card-info,
.state,
.card-buttons {
    text-align: center; /* Center text horizontally */
}

.card-info,
.state {
    margin-bottom: 10px; /* Added margin to separate name-surname, state, and buttons */
}